h1 {
    display: flex;
    margin: auto;
    justify-content: center;
}

p {
    justify-content: center;
}
#teaching {
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-self: center;
    border-radius: 5%;
    height: 3em;
    margin-bottom: 2em;
    height: auto;
}

a, a:visited, a:hover, a:active
{
    color: inherit;
}

.navbar li a {
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    background-color: black;
    font-size: 2em;
}
li a:hover {
    background-color: grey;
}

#page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
}

.middle {
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid black 1px;
    border-radius: 5%;
    min-height: 100vh;
    max-width: 800px;
    background-color: bisque;
}

#music {
    justify-content: center;
    flex-wrap: wrap;
}
img {
}
.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html {
    background-image: url("/images/image.png");
}

.tabular {
    list-style: none;
}