* {
    background-color: aliceblue;
}

h1 {
    display: flex;
    margin: auto;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}
.quote {
    justify-content: left;
}
.author {
    justify-content: right;
}

.quote-div {
    max-width: 10vw;
}